.App {
  text-align: center;
}

.container-fluid {
  margin: 0;

}
#header {
  background-color: #498cac;
  min-height: 50px;
}

#main-wrapper {
  margin: 10px auto;
  min-height: 500px;
  width: 90%;
  border: 1px solid black;
  background-color: lightgray;
}

#main {
  margin: 10px auto 10px auto;
  padding: 0px;
  background-color: lightslategray;
}

#leftSideBar {
  width: 50px;
  border: 1px solid red;
  background-color: lightgreen;
}

#content {
  margin: 0px auto 0px auto;
  background-color: rgb(55, 95, 146);
}
#section1 {
  text-align: left;
  color: black;
}

#rightSideBar {
  width: 10%;
  background-color: lightgreen;
}

#footer {
  min-height: 50px;
  background-color: darkgray;
}

.section {
  margin: 5px 5px;
  border: 2px dashed darkgoldenrod;
  background-color: darkgray;
}

.myRow {
  background-color: lightblue;
}


